.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 92px;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .places {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .places {
    margin-bottom: 64px;
  }
}
