.header__logo {
  position: absolute;
  width: 176px;
  height: 52px;
  left: 48px;
  top: 28px;
  background-image: url(../../../images/__logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 451px) and (max-width: 850px) {
  .header__logo {
    left: 24px;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .header__logo {
    width: 142px;
    height: 42px;
    left: 16px;
    top: 16px;
  }
}
