.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;

  opacity: 1;
  transition: opacity .3s linear;

}

.footer__link:hover {
  /*Такая прозрачность указана в макете, уменьшил время изменения с .5 сек до .3 сек*/
  opacity: .8;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-right: 0;
    margin-bottom: 32px;
  }
  /*
  .footer__link:last-of-type {
    margin-bottom: 0;
  }
  */
}
