@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
  max-width: 93%;
  min-height: 740px;
  background-image: url(../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity 1s linear;
  z-index: 1;
}

.cover:hover.cover::before {
  opacity: .8;
}

@media screen and (max-width: 1150px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1000px) {
  .cover {
    min-height: 590px;
  }
}

@media screen and (max-width: 850px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    min-height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    min-height: 320px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    min-height: 280px;
  }
}

@media screen and (max-width: 380px) {
  .cover {
    min-height: 240px;
  }
}

@media screen and (max-width: 340px) {
  .cover {
    min-height: 200px;
  }
}

