.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  max-width: fit-content;
  max-width: -moz-fit-content;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity .3s linear;
}

.place__link:hover {
  /*Такая прозрачность указана в макете, уменьшил время изменения с 1 сек до .3 сек*/
  opacity: .8;
}
