.cover__title {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 32px;
  white-space: pre-line;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (min-width: 550px) and (max-width: 699px) {
  .cover__title {
    font-size: 62px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 400px) and (max-width: 549px) {
  .cover__title {
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 399px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
