@import url(./__title/hello-word__title.css);
@import url(./__subtitle/hello-word__subtitle.css);
@import url(./__img/hello-word__img.css);
@import url(./__figure/hello-word__figure.css);
@import url(./__caption/hello-word__caption.css);

.hello-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 92px auto;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .hello-word {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .hello-word {
    margin-bottom: 64px;
  }
}
